<!--
  @description       : This component is used to represent the uploaded files as thumbnales with preview, download, delete functionalities
  @author            : Hitesh Garg
  @last modified on  : 06-13-2021
  @last modified by  : Hitesh Garg
  Modifications Log 
  Ver   Date         Author        Modification
  1.0   05-23-2021   Hitesh Garg   Initial Version
-->
<template>
    <lightning-card variant="Narrow" title="Upload Files" icon-name="doctype:attachment">
        <div class="slds-var-p-around_medium">
            <div class="slds-var-p-bottom_small">
                <lightning-file-upload label="Attach your file(s) here..." name="fileUploader" record-id={recordId}
                    onuploadfinished={handleUploadFinished} multiple>
                </lightning-file-upload>
            </div>
            <div>
                <c-attachments-viewer record-id={recordId}></c-attachments-viewer>
            </div>
        </div>
    </lightning-card>
</template>